html,
body {
    margin: 10;
    padding: 10;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid 1px #000;
}

.grid div {
    width: 15px;
    height: 15px;
}

.pac-dot {
    background-color: #00BB00;
    border: 5px solid #fff;
    box-sizing: border-box;
}

.wall {
    background-color: #2121DE;
}

.power-pellet {
    background-color: #00BB00;
    border-radius: 7.5px;
}

.pacman {
    background-color: #E7E700;
    border-radius: 7.5px;
    border: none;
}