html,
body {
    margin: 10;
    padding: 10;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid 1px #000;
}

.grid div {
    width: 15px;
    height: 15px;
    background-color: blue;
}